*{
    margin:0px;
    padding:0px;
}
a{
    text-decoration:none;
}
body{
    background:black;
    font-family: 'Poppins';
}

h1{
    color:white;
    font-size: 50px;
}
h3{
    color:aliceblue;
    padding-top:10px;
    padding-bottom:5px;
}
p{
    color:#a7a7a7;
}
.orange-color{
    color:orange;
}
#banner{
    background-image:url(images/banner-1.png);
    background-repeat:no-repeat;
    display: flex;
}
.half-width {
    width: 50%;
    padding: 10px;
    margin: 45px;
}
.half-width p{
    color:#a7a7a7;
    margin-bottom: 20px;
}
.half-width img{
    position:relative;
    width:90%;
    animation:"animate__backInLeft";
}
.shadow{
    position:absolute;
    bottom:0px;
    background: black;
    height: 3px;
    width:10px;
}

.link-button{
    color:white;
    background-image:linear-gradient(#da927c, #f8503d);
    padding: 10px 40px;
    border-radius:5px;
}

#dream-big{
    display:flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    background-size: 85px;
}
.margin-part p {
    padding-right: 55px;
}

/* ====== exprience part start =======*/
#exprience-part{
    margin-top:75px;
    padding-left: 40px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-size: 136px;
}
.exprience-part-2{
    display:flex;
}
.exprience-text {
    padding-left: 20px;
    padding-top: 23px;
    box-shadow: 2px 0px 30px -13px #fffd;
}
.exprience-text h1 {
    font-size: 42px;
}
.border-1{
    border-left:5px solid #FA6D5A;
}
.border-2{
    border-left:5px solid #6023f0;
}
/* ====== exprience part end =======*/
footer p{
    text-align: center;
    padding-top:100px;
    padding-bottom:20px;
}